body {
    margin: 0;
}

.relative {
    position: relative;
    left: 100px;
    /* top: 100px; */
    margin: 30px;  
}
.absolute {
    position: absolute;
    width: 40px;
    background-color: orange;
    transform: rotate(45deg);
    top: -10px;
    right: -20px;
}

.navbar {
    background-color: teal;
    height: 50px;
    width: 100vw;
    text-align: center;
    line-height: 50px;
    position: fixed;
    z-index: 1;
}

.sticky {
    position: sticky;
    top: 50px;
    height: 30px;
    background-color: orange;
    text-align: center;
    line-height: 30px
}

@media screen and (min-width: 480px) {
    .navbar {
        background-color: orange;
    }
    .sticky {
        background-color: teal;
    }
    .absolute {
        background-color: teal;
    }
}